/**mobile.css**/



/* move nav bar to bottom of screen */
.mobileResize div :nth-child(odd){
    padding:0.5rem !important;
      background-color:#ffffff !important ;
    margin-top:1px !important;
   
      
}
ul.navbar-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0460a9 ;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction : row !important;
}
/* display the flex as row*/
.navbar-nav{
    flex-direction : row !important;
    z-index: 99 !important; 
}

/* hide the toggle button */
.navbar-toggler{
    display: none;
}
#mainNav > ul > li > a {
    width: 65px ;
}
@media only screen and (min-device-width : 300px) and (max-device-width : 320px) {
.page-title {
    background: #d9d9d9;
    margin-left: 15px;
    margin-right: 15px;
    width: 285px !important ;
}
.KPICardGeneric{
    margin-right: 51px !important;
    margin-left: 68px !important;
    }
    .KPICardGeneric {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 4px;
    padding-left: 30px;
    box-shadow: -60px 0 0 0 inset, 20px 0 0 0 inset;
    margin: 0 auto;
    line-height: normal;
    cursor: pointer;
    max-width: 305px;
}
.tile-card {
    position: absolute;
    width: 100%;
    right: 0;
    margin-top: -16px;
    }
    .KPICard{
      margin-left: 0px;
    margin-right: 0px;
    width:60px;
    height: 64px !important;
}
  }
@media only screen and (min-device-width : 321px) and (max-device-width : 360px) {
  #mainNav > ul > li > a {
    width: 53px !important;
    
}
.heatmap .nav-tabs .nav-link img {
    width:60px !important;
}
.KPICard{
      margin-left: 0px;
    margin-right: 0px;
    width:60px;
    height: 64px !important;
}
.tile-card {
    position: absolute;
    width: 100%;
    right: 0;
    margin-top: -16px !important;
    }
.page-title {
    background: #d9d9d9;
    margin-left: 15px;
    margin-right: 15px;
    width: 330px !important ;
}
.arrow{
  position:fixed !important;
}
.mobileResize > img {
    width: 7%;
    position: absolute!important;
    left: 6%!important;
    top: 50%!important;
}
}
@media only screen and (min-device-width : 375px) and (max-device-width : 420px) {
.page-title {
    background: #d9d9d9;
    margin-left: 15px;
    margin-right: 15px;
    width: 378px !important ;
}
.dropdown{
  left:15px;
  }
 .tile-card{
        position: absolute;
    width: 100%;
    right: 0;
    margin-top:-18px !important;
  }
  .heatmap .nav-tabs .nav-link img {
    width:60px !important;
}
  .KPICard{
      margin-left: 0px;
    margin-right: 0px;
    width:60px;
    height: 64px !important;
}
.KPICardGeneric {
    
        margin-right: 82px;
    margin-left: 64px;

  }
}
@media only screen and (max-width: 420px) {
  .mobileResize > img{
  width: 7%!important;
    position: absolute!important;
    left: 5%!important;
    top: 50%!important;
    
}


#mainNav > ul > li > a {
    width: 70px ;
}
.arrow{
      position: absolute!important;
    display: inline-block;
    top: 93px;
}

}
@media only screen and (max-width: 576px) {
  .chartButton {
    width: 8%;
    margin-left: 65%;
    position: absolute;
    box-shadow: 0px 0.5px 0.5px 0.5px;
    cursor: pointer;
    margin-top: 13px;
  }
  .mobile-toggle{
    display:none !important;
  }
  .heatmap .nav-tabs .nav-link img {
    width:60px !important;
}
 
  .heatmap table tr {
    box-shadow: 0 -1px 0px 0 #d9d9d9 inset;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 90px;
  }
  .tile-card{
        position: absolute;
    width: 100%;
    right: 0;
    margin-top:-7px;
  }
  table td {
    width: 0;
   
}


  .order-last{
    left:72%;
  }
  .page-title span {
    color: #333;
        font-weight: bold;
    font-size: 21px;
    text-align: -webkit-center;
}
.page-title {
    background: #d9d9d9;
    margin-left: 15px;
    margin-right: 15px;
    width: 343px;
}
.KPICardGeneric span{
    color: #333;
    font-weight:bold;
    font-size:17px;
}

  .mobile-view{
   padding-right: 0px;
    padding-left: 0px;
  }
  .p-4{
  display:initial;
}
.bg-gray{
  display: contents;
}

  .desktop-view{
    display:none;
  }
  .bg-light{
    background-color: :none !important;
  }
  .mobile-button{
    display:none !important;
  }

 .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: black;
}
.card .expand {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    }
 
/* hide title and subtitle*/
#headerTitle,#headerSubtitle{
    display: none;
}
/* display logo in the center of navbar*/
.navbar{
    align-items :center;
    display: block;
    z-index: 99 !important; 
}
.title{
  font-size: 1.0rem !important;
}


.mobileflexfilter{
    flex-direction : row !important;
}

/*to adjust width of filter*/
.mobileflexwidth{
    width: 50%;
}

.sidebar .dropright > a > div {
    opacity: 1.0;
}

.sidebar .dropright .dropdown-menu {
    left: 0% !important;
    top: 12rem !important; /* centeralize the dropdown menu for mobile*/
}
.sidebar{ 
    width: 100%
}

.sidebar .dropright > a > div{ 
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.sidebar .dropright.show > a > div {
    box-shadow: 0 0rem  0 0 inset #0460a9;
}

.sidebar .dropright > a > div h6{ 
    order: 1;
    align-self: flex-start;
}

.sidebar .dropright > a > div h5{ 
    order: 2;
    align-self: flex-start;
}

.sidebar .dropright > a > div img{ 
      width: 18%!important;
    position: absolute;
    left: 65%;
}

.legend{ 
  display: flex;
  margin-top: 10px
}

.mobileResize > img{
  width: 7%;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.view{
       position: relative !important;
    left: -14px;
    top: 20px;
}
.view-expand{
  margin-left:53px;
}
}
.carousalbox{
      background-color: #ffffff !important;
          overflow: -webkit-paged-x !important;
}

.mobileResize button {
  visibility: hidden;
}
.mobileResize button:after {
  content:'→'; 
  visibility: visible;
  display: block;
  position: absolute;
  padding: 0px;
  top: -15px;
  font-size : 30px;
  color: black;
  right: 1px
}
.cta{
   min-width: 15%;
    position: absolute;
    right: 10%;
}

.mobileResize{
   padding: 0.5rem !important;
    box-shadow: 3rem 0 0 0 inset;
    margin-bottom: -1px !important;
}
.mobileResize :nth-of-type(even){
    padding:0.5rem !important;
      box-shadow: 3rem 0 0 0 inset;
      /*background-color:none !important;*/
    margin-top:1px !important; 
}

 .mobileview{
  background-color:#ffffff !important;

 }
  .odd {
  background-color: #cccccc !important;
}
.even {
  background-color: #ededed!important;
} 

.mobileResize > h5{
    color: black!important;
}
/* to change teh card background to light and dark gray*/

/*.m-gray {
  background-color: #c6c6c6 !important; 
 }

.m-dark-gray:nth-child(2n) {
  background-color: #9d9d9d !important;
  margin-top:1px; }*/
  #footer{
    display:none;
  }

.m-dark-gray:nth-child(5n+3){
  background-color: #ffffff !important;
   margin-top:1px; }

.m-blackfont {
    color: black !important;
    font-size: small;
    align-self: normal;
    margin-left: 15%;
    font-weight: bold;
}
.card {
   position: relative; 
   display:contents;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }


