<div ng-controller="homeCtrl" class="p-4 pb-5 pr-lg-5">
  <div class="row mb-10">
    <div class="col-sm-12">
      <div class="card kpi-box">
        <div class="card-header bg-primary">
          <div class="date bg-dark">Jan<br/>2020</div>
          <div class="title h3 mb-0">AskCA Release</div>
        </div>
        <div class="card-body">
         
            <p class="h5">1. Qlik Sense Mashup Capablities</p>
            <p class="h5">2. How to interact with multiple apps</p>
            <p class="h5">3. Examples</p>
            <p class="h5"> &nbsp;</p>
            <p class="h5"> &nbsp;</p>
            <p class="h5"> &nbsp;</p>
            <p class="h5"> &nbsp;</p>
            <p class="h5"> &nbsp;</p>
            <p class="h5"> &nbsp;</p>
            <p class="h5"> &nbsp;</p>
            <p class="h5"> &nbsp;</p>
            <p class="h5"> &nbsp;</p>
            <p class="h5"> &nbsp;</p>
            <p class="h5"> &nbsp;</p>
            <p class="h5"> &nbsp;</p>
             
          </div>
        </div>
      </div>
      
    </div>
  </div>
  